# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Project outputs
models/*.joblib
models/*.pkl
reports/*.csv
reports/*.png

# Data/cache
data/
MNE-*/
moabb_data/

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Test/cache folders
.pytest_cache/
*.egg-info/
src/*.egg-info/
__pycache__/
*.pyc


# Downloaded EEG data/cache
C-/
mne_data/
MNE-bnci-data/
*.mat

# Generated model files
models/*.joblib
models/*.pkl

# Generated reports/plots
reports/*.csv
reports/*.png
